.game {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.chess-board {
  border-collapse: collapse;
  margin-right: 2rem;
}

.square {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border: 1px solid #999;
}